.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-content {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.back-content {
  display: flex;  /* Arrange children side by side */
  justify-content: space-around;  /* Add space between the sections */
  width: 100%;  /* Limit width to center within the container */
  margin: auto;  /* Center the content horizontally */
}

.back-section {
  width: 45%;  /* Each section takes up about half of the width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
